{% extends "rango/base.html" %}

{% block body_block %}
<h2 class="form-signin-heading">Change Your Password</h2>
<form role="form" method="post" action=".">
{% csrf_token %}
<div class="form-group" >
    <p class="required"><label class="required" for="id_old_password">Old password:</label>
        <input class="form-control" id="id_old_password" name="old_password" type="password" />
    </p>

    <p class="required"><label class="required" for="id_new_password1">Username:</label>
        <input class="form-control" id="id_new_password1" maxlength="30" name="new_password1" type="password" />
        <span class="helptext">
            <ul>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
        </span>
    </p>
    <p class="required"><label class="required" for="id_new_password2">
        New password confirmation:</label>
        <input class="form-control" id="id_new_password2" name="new_password2" type="password" />
    </p>
</div>
<button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}
