{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home Page
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    {% if user.is_authenticated %}
    <h2 class="display-3">Welcome, {{ user.username }}!</h2>
        <p>View the most liked pages and most viewed categories.</p>
        <p>You can add pages and new categories.</p>
    {% else %}
        <h2 class="display-3">Welcome!</h2>
        <p>View the most liked pages and most viewed categories added by others.</p>
        <p>If you would like to add a category or page, register or sign in.</p>
        <p><a class="btn btn-lg btn-primary" href="{% url 'auth_login'%}" role="button">Sign in</a>
           <a class="btn btn-lg btn-success" href="{% url 'registration_register'%}" role="button">Sign up</a></p>
    {% endif %}
</div>

<div class="row marketing">
<div class="col-lg-6">
    <h4>Most Liked Categories</h4>
    <p>
    {% if categories %}
        <ul class="list-group">
    {% for category in categories %}
            <li class="list-group-item"><a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
            <span class="tag tag-default tag-pill float-xs-right">{{ category.likes }}</span>
            </li>
    {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    </p>
</div>
<div class="col-lg-6">
    <h4>Most Viewed Pages</h4>
    <p>
    {% if pages %}
        <ul class="list-group">
    {% for page in pages %}
            <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a>
            <span class="tag tag-default tag-pill float-xs-right">{{ page.views }}</span>
            </li>
    {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    </p>
</div>
</div>
{% endblock %}