{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}User Profiles{% endblock %}

{% block body_block %}

<h1>Meet other users</h1>
<br/>
<div class="panel">
    {% if userprofile_list %}
    <div class="panel-heading">
        <div class="panel-body">
            <div class="list-group">
                {% for userprofile in userprofile_list %}
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        {% if userprofile.picture %}
                        <img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
                                width="64"
                                alt="{{ userprofile.user.username }}" />
                        {% else %}
                        <img width="64" height="64" src="http://lorempixel.com/64/64/abstract/"/>
                        {% endif %}
                        <a href="{% url 'profile' userprofile.user.username %}">{{ userprofile.user.username }}</a>
                    </h4>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>    
    {% else %}
        <p>There are no users for this site.</p>
    {% endif %}
</div>
{% endblock %}